nav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(211, 90, 115);
    padding: 10px;
    width: 1309px;
    gap: 100px;
}
.links{
    display: flex;
    justify-self:center;
    align-items: center;
    gap: 100px;
    padding: 10px;
}
.secdiv{
    display: flex;
    gap: 60px;
}
.About{
    display: flex;
    gap: 20px;
}
.flower{
    border: 2px solid black;
    margin: 20px;
    padding: 30px 30px 30px 30px; 
    text-align: center;
}
.services{
    display: flex;
    gap: 60px;
}
.hero{
    gap: 200px;
}