.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 18px 60px;
}
.hero{
    height: 500px;
    background-image: url(images/Flower\ Shop\ Shopify\ Theme\ -\ Minimalist\ Website\ Template\ for\ Florists\ and\ Boutiques.jpg);
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Services{
    padding: 60px 80px;
    background-color: white;
    text-align: center;
}
.Services h2{
    font-size: 32px;
    margin-bottom: 40px;
    color: black;
}
.cardcontainer{
    display:flex;
    gap: 30px;
}
.card{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 5px 15pxeen, blue, alpha;
    transition: 0.3s;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

 
